<mat-spinner *ngIf="product === undefined" class="loadingSpinner"></mat-spinner>
<div *ngIf="product" class="main">
  <div class="title">
    <img [src]= "'data:image/JPEG;base64,'+this.product.image">
    <div class="main-title">
      <h1>{{product.type}}</h1>
      <h4>{{product.artist.name}}</h4>
      <button (click)="addToCart(product.id)">Add to cart</button>
    </div>
  </div>
  <div class="description">
    <p>{{product.description}}</p>
  </div>
  <div *ngIf="product.comments" class="comment">
    <div *ngFor="let comment of product.comments " class="comment-container">
      <p class="comment-content">{{comment.description}}</p>
    </div>
  </div>
</div>

