<app-product-list [products]="products"></app-product-list>
<!--<table class="product-table">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th></th>-->
<!--    <th>Type</th>-->
<!--    <th>Cost</th>-->
<!--    <th>Description</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--    <tr class="table-body" *ngFor="let product of products">-->
<!--      <td><img src="{{product.image}}"></td>-->
<!--      <td class="type" [routerLink]="['/about']" [queryParams]="{product: product.id }">{{product.type}}</td>-->
<!--      <td>{{product.cost}}</td>-->
<!--      <td>{{product.description}}</td>-->
<!--      <td class="addCart"><button (click)="AddToCart(product.id)">Add to Cart</button></td>-->
<!--    </tr>-->
<!--  </tbody>-->
<!--</table>-->
