<mat-card>
  <img mat-card-lg-image [src]= "'data:image/JPEG;base64,'+this.product.image" class="mb-2">
  <mat-card-content>
    <p>Type: {{product.type}}</p>
    <p>Artist: {{product.artist.name}}</p>
    <p>Price: <span class="font-bold">{{product.cost | currency:''}}</span></p>
    <p>Description: {{product.description}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Add to cart</button>
    <button [routerLink]="['/about']" [queryParams]="{product: product.id }" mat-button>About...</button>
  </mat-card-actions>
</mat-card>
